{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "decoratorMetadata": false
    }
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": "inline"
}
